/* Master styles*/
body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    margin-bottom: -20px;
    margin-top: -20px;
}

.left-sider{
    display: flex;
}

.nav-wrapper > .mob-nav-wrapper > .left-sider > div{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 0.9em;
    /*text-transform: uppercase;*/
}

.right-sider{
    margin-top: 1vh;
}

.nav-wrapper > .right-sider > div{
    font-size: 2.1em;
    font-weight: bold;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #777b7e;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    border-bottom: black !important;
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px gray;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.dropdown >.nav-link-wrapper > a{
    position: relative;
    top: -2px;
}  

.dropdown-content >.nav-link-wrapper{
    height: 30px;
}  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}


/* Portfolio styles */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ddd;
}

.portfolio-item-wrapper{
    position: relative;
    margin-top: 2vh;
    margin-left: .5vw;
    margin-right: .5vw;
}

.portfolio-img-background{
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 3vw;
}

.logo-wrapper img{
    width: 30%;
    margin-bottom: 3px;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    font-size: 2vw;
    color: transparent;
}


.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    font-size: 2vw;
    color: white;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}


/*About page */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-wrapper{
    position: relative;
}

.profile-image-wrapper img{
    width: 60%;
    margin-left: 2vw;
    padding: 2%;
}

.profile-content-wrapper{
    display: flex;
    margin-right: 2vw;
    margin-left: -6vw;
}

.prof-cont-wrapper{
    word-break: break-all;
}


/*.profile-content-wrapper h1{
    color: blue;
}*/

/* contact page */

.cont-header h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 2.7em;
    background-color: #f0f8ff;
}

.cont-wrapper{
    padding: 38px;
}

.conts-link-wrapper{
    display: flex;
}

.conts-link-wrapper a:hover {
    color: darkblue;
}

/* travel page  */

.trav-wrapper {
    justify-content: center;
    align-items: center;
    padding: 38px;
}
.trav-wrapper > iframe{
    width: 100%;
}


/*love page*/

.theSlides {display: none}
.theDescriptions {display: none;}
.theSlides > img {vertical-align: middle; width:28vw;}
.theDescriptions>p {
    font-size: 1.5vw; 
    text-align:center;
    padding: 2vw;  
    position: relative;
    bottom: 5vh;
}

.love-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pic-wrapper{
    display: flex;
    flex-direction: column;
}

.slideshow-wrapper {
  position: relative;
  margin: auto;
  height: 85vh;
  width: 35vw;
  left: 3vw; 
}

.slideshow-wrapper>div { 
    position: absolute; 
    top: 2vh; 
    left: 1vw; 
    right: 1vw; 
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 3vh;
  margin-top: -10vh;
  color: black;
  font-weight: bold;
  font-size: 1.2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right: 1.5vw;
  margin-left: -3.5vw;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgb(190, 160, 160);
}

.pic-text {
  color: white;
  font-size: 1.2vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: /*1.7vh;*/2.5vh;
  width: /*0.8vw;*/1.2vw;
  margin: 0 3px;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 15vh;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*soccer page*/

.vl{
    position: absolute;
    border-left: 3px solid #333;
    height: 135%;
}

hr.hl{
    border: 0px solid transparent;
}

.footballer{
    margin-top: -2vh;
}


.footballer>.slideshow-wrapper>div { 
    position: relative; 
    top: 2vh; 
    left: -2vw; 
    right: 1vw; 
}

.theslideshower{
    margin-left: 3vw;
}

.row{
    margin-left: 1vw;
}
  
.aSlide {
    display: none;
}
  
.aSlide> img{
    vertical-align: middle; 
    width:27vw;
}

.column> img{
    vertical-align: middle;
    height: 9vh;
}

.cursor {
    cursor: pointer;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.minipic {
    opacity: 0.6;
}

.activ,
.minipic:hover {
    opacity: 1;
}


/*mobile display*/
@media only screen and (max-width: 600px) {
    /*Navigation styles*/
    .right-sider{
        margin-right: -3vw;
    }

    /* Portfolio styles */
    .portfolio-items-wrapper{
        width: 120vw;
    }

    .portfolio-item-wrapper{
        margin-top: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .img-text-wrapper{
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 0vw;
    }
    
    .logo-wrapper img{
        width: 60%;
    }

    .img-text-wrapper .subtitle{
        font-size: 5vw;
    }

    .img-text-wrapper:hover .subtitle{
        font-size: 5vw;
    }

    /* academics page  */
    .video-res{
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 56.25%;
    
    }

    .video-res iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    /* Navigation styles*/

    .mob-nav-wrapper:before{
        content: "☰";
    }

    .mob-nav-wrapper{
        position: relative;
        display: inline-block;
        top: 20px;
    }

    .left-sider {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 110px;
        box-shadow: 0px 8px 16px 0px gray;
        z-index: 1;
        top: 30px;
    }
    
    .left-sider  a{
        padding: 3px 6px;
        position: relative;
        bottom: 3px;
    }

    .left-sider > .nav-link-wrapper> a and .left-sider > .dropdown > .nav-link-wrapper> a {
        color: black;
        text-decoration: none;
        display: block;
    }
    
    .left-sider >.nav-link-wrapper {
        height: auto;
    }  
    .left-sider a:hover {background-color: #ddd; }
      
    .mob-nav-wrapper:hover .left-sider {display: block;}
    
    
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px gray;
        z-index: 1;
        left: 85px;
        top: -4px;
    }
      
    .dropdown-content a {
        color: black;
        padding: 6px 6px;
        text-decoration: none;
        display: block;
        margin-top: 0;
        margin-right: 0;
    }
    
    .dropdown-content >.nav-link-wrapper{
        height: 30px;
    }  
    .dropdown-content a:hover {background-color: #ddd;}
      
    .dropdown:hover .dropdown-content {display: block;}

    /*love page*/
    .prev, .next{font-size: 12px}

    .theDescriptions>p {
        font-size: 4vw;
        padding: 3vw;
        text-align:center;
        margin-left: 0vw; 
        margin-top: -2vh;
    }

    .theSlides > img, .aSlide> img {vertical-align: middle; width:70vw;}

    .contents-wrapper{
        height: 90vh;
        margin-left: 3vw;
    }

    .love-wrapper{
        display: flex;
        flex-direction: column;
    }

    .slideshow-wrapper {
        position: relative;
        margin: auto;
        height: 60vh;
        width: 70vw;
        left: 0vw; 
    }

    .slideshow-wrapper>div { 
        position: absolute; 
        top: 2vh; 
        left: 0vw; 
        right: 0vw; 
    }

    .prev, .next {
        margin-top: -10vh;
        margin-right: -14vw;
        margin-left: -14vw;
    }

    .pic-text {
        font-size: 3vw;
    }

    .dot {
        height: /*0.5vh;*/0.7vh;
        width: /*0.8vw;*/1.2vw;
        position: relative;
        bottom: 0vh;
    }

    /*soccer page*/

    .footballer{
        height: 90vh;
        margin-left: 5vw;
    }

    .footballer> h3{
        margin-left: -5vw;
    }

    .vl{
        position: absolute;
        border-left: 0;
        height: 0;
    }

    hr.hl{
        border: 1px solid #333;
        margin-left: -5vw;
    }

    .slideshow-wrapper{
        margin-left: 12vw;
    }
    
    .column> img{
        height: 4.5vh;
        margin-left:2vw;
    }

    .theslideshower,.row{
        margin-left: 0;
    }
}

